@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Yellowtail&display=swap");
:root {
  --primary-color: white;
  --secondary-color: #ffd220;
  --tertiary-color: #009a4e;
  --primary-interaction-color: #0cb7e1;
  --secondary-interaction-color: #8ed8f8;
  --grabbing-attention: #f8363d;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "Kalam", cursive;
  margin: 0;
  padding: 0;
}

.landing-page {
  height: 100vh;
  width: 100%;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header{
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 48px;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0px;
  font-size: 28px;
  background-color: rgba(255, 255, 255, 0);
  transition: all 0.4s;
}
.header:hover{
  background-color: rgba(0, 0, 0, 0.448);
}
.header-info{
  padding: 0 36px;
  display: flex;
  justify-content: space-evenly;
  width: 30%;
  color: white;
  
}
.header-info a{
  cursor: pointer;
  position: relative;
  text-decoration: none;
  color: white;
  scroll-behavior: smooth;
}
.header-info>a:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  left: 0;
  bottom: 0;
  border-radius: 4px;
  transition: 0.4s;
  transform: scale(0, 1);
}
.header-info>a:hover:after {
  transform: scale(1, 1);
  transform-origin: center;
}
.logo {
  width: 72px;
  aspect-ratio: 1;
  z-index: 6;
  background-color: transparent;
  border-radius: 50%;
  margin-left: 24px;

  
}
.logo img {
  width:  64px;
  aspect-ratio: 1;
  border-radius: 50%;
}



.landing-text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  left: 60%;
  top: 40%;
  transform: translate(-50%, -50%);
  width: 75%;
  color: rgb(255, 255, 255);
  filter: drop-shadow(0 0 5px rgb(0, 0, 0));
  z-index: 5;
  pointer-events: none;
}

.landing-text .primary-text {
  font-size: 2vw;
  padding-left: 6vw;
  padding-bottom: 1vw;
}

.landing-text .secondary-text {
  line-height: 100%;
  font-size: 8vw;
}
.line2 {
  padding-left: 25%;
}

.landing-page-image {
  height: 100vh;
  width: 100%;
}
.landing-page-image img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  z-index: 2;
}
.landing-page-image video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  z-index: 3;
  filter: saturate(1.2);
}

.explore-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 25%;
  left: 25%;
  z-index: 5;
  text-decoration: none;
  width: 240px;
  height: 64px;
  border-radius: 32px;
  font-size: 24px;
  font-weight: bold;
  color: white;
  background-color: var(--grabbing-attention);
  overflow: hidden;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.753);
}

.explore-btn span {
  border-radius: 50%;
  animation: btnAnimation 1s linear;
  background-color: white;
  position: absolute;
  transform: translate(-50%, -50%);
  aspect-ratio: 1;
  pointer-events: none;
}

@keyframes btnAnimation {
  0% {
    width: 0;
    opacity: 0.3;
  }
  100% {
    width: 500px;
    opacity: 0;
  }
}
/***********************************************************************/
.second-page {
  backdrop-filter: blur(4px);
  width: 100vw;
  height: auto;
  background-color: rgba(0, 0, 0, 0.062);
  z-index: 4;
  padding-bottom: 25vh;
  position: relative;
}
.second-page-title {
  padding: 5vh 0 0 0vw;
  margin: 0;
  color: white;
  width: 100vw;
  height: 100px;
  font-size: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.travel-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
  margin-top: 10vh;
}
.travel-cards {
  width: auto;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  gap: 7.5vw;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25vw;
  height: 72vh;
  overflow: hidden;
  background-color: white;
  border-radius: 64px;
  font-size: 3vw;
  transition: all 0.7s;
  box-shadow: 0 0 16px black;
  position: relative;
}

.card::before {
  position: absolute;
  border-radius: 48px;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.61) 32%,
    rgba(9, 9, 121, 0) 100%
  );
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  z-index: 5;
  display: block;
  content: "";
  transition: 1s;
  opacity: 0;
}

.card:hover:before {
  opacity: 1;
}
.card > img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 64px;
  filter: saturate(1.3);
}

.card .info {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  bottom: -12px;
  color: white;
  z-index: 6;
  transform: translateY(24px);
  pointer-events: none;
  transition: all 0.7s;
  cursor: pointer;
}

.card .info p {
  opacity: 0;
  transition: 0.7s;
  font-size: 1.3rem;
}
.card .info h1 {
  opacity: 1;
  text-shadow: 0 0 7px black;
  font-size: 4vw;
}
.card:hover .info p {
  opacity: 1;
  scale: 1;
  text-shadow: 0 0 12px black;
}

.card:hover .info {
  transform: translateY(-96px);
  opacity: 1;
  scale: 1;
}
.info p {
  width: 80%;
  font-size: 1rem;
  margin: 0;
  pointer-events: none;
}

.info h1 {
  font-size: 4rem;
  margin: 0;
}

.card:hover {
  scale: 1.1;
}

@media (min-width: 2001px) and (max-width: 2500px) {
  .travel-cards {
    grid-template-columns: 32vh 32vh;
    gap: 27rem;
  }
}
@media screen and (max-width: 1280px) and (min-width: 1161px) {
  .travel-cards {
    grid-template-columns: 35vw 35vw;
    gap: 2vw;
    padding: 0;
    margin: 0 auto;
    justify-content: center;
    justify-items: center;
  }
  .second-page {
    align-items: center;
    justify-content: center;
  }
  .second-page-title {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card {
    margin-top: 12rem;
    height: 60vh;
  }
}
@media screen and (max-width: 1160px) {
  .travel-cards {
    grid-template-columns: 75vw;
    gap: 15vw;
    padding: 0;
    margin: 0 50px;
    justify-items: center;
  }

  .card {
    width: 75vw;
    height: 75vh;
  }

  .card .info h1 {
    font-size: 7vw;
  }
  .card .info p {
    font-size: 4vw;
  }
}

/***********************************************************************/

.third-page {
  position: relative;
  z-index: 4;
  height: 100vh;
  width: 100%;
  font-size: 5vw;
  color: rgba(255, 255, 255, 0.11);
  background-color: rgba(0, 0, 0, 0);
  background-image: url("../images/TPB.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
}

.left-section {
  width: 50vw;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: brightness(0.7) blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-shadow: 0 0 4px black;
}
.left-section h1 {
  width: 100%;
  font-size: 3rem;
  margin: 0;
  color: rgb(255, 255, 255);
  text-align: center;
}

.left-section p {
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
  width: 75%;
  text-align: center;
}

.right-section {
  width: 50vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.third-page-gallery-container {
  width: 500px;
  height: 70%;
  background-color: transparent;
  display: flex;
  overflow-x: scroll;
  justify-content: flex-start;
  scrollbar-width: none;
  scroll-behavior: smooth;
  scroll-snap-type: inline mandatory;
}
.third-page-gallery-container::-webkit-scrollbar {
  display: none;
}
.image-container {
  min-width: 85%;
  min-height: 85%;
  object-fit: cover;
  margin: 12px 24px 12px 24px;
  border-radius: 36px;
  scale: 0.8;
  transition: all 1s;
}
.image-container img {
  object-fit:cover;
  object-position: center;
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

.navigation-btns {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
}

.navigation-btns button {
  width: 48px;
  height: 48px;
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(10px);
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 4;
}

.navigation-btns button svg {
  fill: rgb(36, 186, 255);
  position: absolute;
  z-index: 5;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 50%;
  transition: all 0.4s;
}

.navigation-btns button:hover svg {
  fill: rgba(255, 255, 255, 0.767);
  background-color: rgb(0, 174, 255);
}
